<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>fire1</string>
	<string>fire2</string>
	<string>fire3</string>
	<string>fire4</string>
	<string>fire5</string>
	<string>fire6</string>
	<string>fire7</string>
	<string>fire8</string>
</array>
</plist>
